<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeting Whiteboard</title>
  </head>
  <body>
    <canvas id="canvas" style="border: 4px solid black"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/board.js"></script>
  </body>
</html>
